<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>INex</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.cfb469f8a54292009302.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.0811dcefd377500b5b1a.js" type="module"></script><script src="runtime-es5.0811dcefd377500b5b1a.js" nomodule defer></script><script src="polyfills-es5.975257dd8f93206c71db.js" nomodule defer></script><script src="polyfills-es2015.740fe6c0a8afd764566f.js" type="module"></script><script src="scripts.2ba1ea6186465c86b821.js" defer></script><script src="main-es2015.52257063bb775df0d56d.js" type="module"></script><script src="main-es5.52257063bb775df0d56d.js" nomodule defer></script></body>
</html>
