<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>INex</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.bea55496111bfb54c5c2.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.1eba213af0b233498d9d.js" type="module"></script><script src="runtime-es5.1eba213af0b233498d9d.js" nomodule defer></script><script src="polyfills-es5.d261fbe6ac3859cdfcf3.js" nomodule defer></script><script src="polyfills-es2015.7eb0add4768610cfe14d.js" type="module"></script><script src="scripts.6b9855259d96faa258f2.js" defer></script><script src="main-es2015.e476bbb2f484ac6583f5.js" type="module"></script><script src="main-es5.e476bbb2f484ac6583f5.js" nomodule defer></script></body>
</html>
